{:paths ["src"]
 :deps {
        io.github.kotoba-lang/time-msecs-per-minute
        {:git/url "https://github.com/kotoba-lang/time-msecs-per-minute.git"
         :git/sha "f2a636f16b8ea64769cd6ea4808a72fb0ddd0472"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
